/* PatientProfile.css */

.user-profile-box {
  padding: 20px;
  background-color: rgba(126, 211, 165, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Lato", sans-serif; /* Match the font used in the navbar */
}

.user-profile-box h2 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px;
}

.profile-field {
  margin-bottom: 20px; /* Increased margin */
}

.profile-field label {
  font-weight: bold;
}

.profile-field span {
  font-size: 20px; /* Increased font size */
}

@media screen and (max-width: 700px) {
  .user-profile-box {
    width: 400px;
    height: 400px;
    padding: 10px;
  }
}
